// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import './style';
@import './navbar';
@import './base';
@import './icon';
.card{
  padding: 1.125rem;
  background-color: #fff;
  border-radius: 4px;
}